<!-- File name : bottom_nav.ejs
Stuent's Name : Seyeong Park
Student ID : 301088175
Date : October 9th 2020 -->

<!--Bottem Nav-->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">

    <!-- 'navber-text' will change the text color to Gray -->
    <h6 class="display-6 navbar-text">&copy; Copyright 2020. All Rights reserved.</h6>
  </nav>
</footer>