<!-- File name : footer.ejs
Stuent's Name : Seyeong Park
Student ID : 301088175
Date : October 9th 2020 -->

<!-- Script Section -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script> src="/Scripts/app.js"</script>
</body>
</html>