/* custom css gose here */

#portfolio {
    background-color: rgba(255, 255, 255, 0.884);
    border-radius: 0.6em;
    border:2px dashed rgb(199, 196, 196);
    }

td.aboutinfo { 
        position: relative;
        left: 50px;
        top: -50px;
        width: 420px;
    }

td.aboutpicture { 
        position: relative;
        left: 0px;
        top: 10px;
        width: 500px;
    }   

td.aboutinsta { 
        position: relative;
        left: -50px;
        top: -10px;
        width: 500px;
    }   
    /* fonts */

h1
{
    color:rgb(19, 31, 53);
    text-align:middle;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

#top_title
{
    color:rgb(2, 5, 10);
    font-size: 4em;
    font-family: 'Lobster', cursive;
    font-weight: 600;
}

#intro
{
    color:rgb(19, 31, 53);
    text-align:middle;
    font-size: 500%;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
#mission
{
    color:rgb(19, 31, 53);
    text-align:middle;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 300;
}

#impact
{
    color:rgb(19, 31, 53);
    text-align:middle;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-weight: 300;
}
span.grayimp
{
    color:rgb(116, 117, 121);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    font-style: italic;

}

span.point {
    color: rgb(29, 74, 223);
}
